<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Create Event</title>
</head>
<body>
<h1 th:text="${title}">Create Event</h1>
<form th:action="@{/events/create}" th:object="${event}" method="post">
   <label for="name">Event Name:</label>
   <input type="text" th:field="*{name}" id="name" />
   <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

   <label for="description">Description:</label>
   <textarea th:field="*{description}" id="description"></textarea>
   <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>

   <label for="contactEmail">Contact Email:</label>
   <input type="email" th:field="*{contactEmail}" id="contactEmail" />
   <div th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}">Email Error</div>

   <label for="type">Event Type:</label>
   <select th:field="*{eventType}" id="type">
      <option th:each="type : ${types}" th:value="${type.name()}" th:text="${type.displayName}"></option>
   </select>

   <button type="submit">Submit</button>
</form>
</body>
</html>
